extends layout

block content
  h1 Soliton Premier League(SPL)
  p.The The Stage for Coding Talents
  hr
  .row
    .col-sm-6
      h2 Tic Tac Toe
      p The ordinary Tic Tac Toe is easy for the coding Legends to code and play. So Soliton has introduced a little complex one. The three way Tic Tac Toe. This is really a treat for code lovers. 
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Tetris
      p It is usually easy to score points in tetris which we play in Video Games. But it actually need some knowledge to automate the play. The more lines you clear, the more often you will win the game. Try your brain out. 
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Heading
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Heading
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-default(href='#', role='button') View details »